## Jupyter Notebook
anaconda 설치 → python + IDE(jupyter notebook) + 오픈 라이브러리

- cell
- Shift + Enter "Run"
- Edit mode : 초록색 / Command mode : 파란색(ESC)
- 셀 추가 : a(above 앞에 추가) / b(below 뒤에 추가)
- 셀 삭제 : dd(delete)

## Python
- 변수 = 값
- 컴퓨터가 모르는 값 : 검은색, 컴퓨터가 알고 있는 것 - 명령어, 값 : 초록색
- 작업의 순서 : 알고리즘
- 주석: # 약속
- ctrl + / : 줄 주석

In [1]:
a = 5
a = 99
print(a)

99

In [2]:
a = 5
# a = 99
print(a)

5

In [3]:
c = 5
b = 3

print(c + b)
print(c - b)
print(c * b)
print(c / b)

print(c + b, c - b)

8
2
15
1.6666666666666667
8 2

In [4]:
name = "박수정" # string
print(name)

박수정

In [5]:
c1 = "산"
c2 = "토끼"
print(c1+c2)
print(c2+c1)

산토끼
토끼산

In [6]:
print("-" * 50) # 곱하기 가능

--------------------------------------------------

### list
- [] 1. list 2. 그룹[ 선택 ]
- python : 인덱스 번호는 0 부터 시작함
- R : 1부터 시작함
- 0은 왼쪽에서
- 오른쪽 끝에서 첫번째 : -1
- 범위 : [시작:끝]

In [7]:
# list
singer_list = ["IU", "이소라", "씨엘","먼데이키즈", "김광석"]
print(singer_list)
singer = singer_list[-1]
singer

['IU', '이소라', '씨엘', '먼데이키즈', '김광석']

'김광석'

In [8]:
# quiz
# 먼데이키즈 출력
print(singer_list[3])
print(singer_list[-2])

먼데이키즈
먼데이키즈

In [9]:
# 여러개 선택 : 범위 선택
# 슬라이싱
print(singer_list[1:4]) # 끝은 포함하지 않음
print(singer_list[-4:-1])
print(singer_list[1:-1]) # 시작과 끝을 빼고 다
print(singer_list[:-1]) # 0과 마지막은 생략 가능

['이소라', '씨엘', '먼데이키즈']
['이소라', '씨엘', '먼데이키즈']
['이소라', '씨엘', '먼데이키즈']
['IU', '이소라', '씨엘', '먼데이키즈']

In [10]:
phone = "010-1234-5678"
# 가운데 자리만 출력
# 가정 : 가운데 자리가 자리수가 변경될 수 있다면, 끝자리는 4자리로 고정되어 있다면
phone[4:-5] # 도메인 지식 중요!!!

'1234'

### 정리
- 변수 = 값(숫자, "문자열", 리스트[])
- 슬라이싱[:]

### 반복문
- for 변수명 in 그룹명:
    실행코드
-

In [11]:
# list
singer_list = ["IU", "이소라", "씨엘","먼데이키즈", "김광석"]
print(singer_list)
for singer in singer_list:
    print(singer)
    print("계속 반복") # 들여쓰기!
print("Finish")

['IU', '이소라', '씨엘', '먼데이키즈', '김광석']
IU
계속 반복
이소라
계속 반복
씨엘
계속 반복
먼데이키즈
계속 반복
김광석
계속 반복
Finish

In [12]:
for singer in singer_list:
    # 문자열 formating(f-string)
    # f"{변수} string"
    msg = f"{singer} 님, 새해복 많이 받으세요" 
    print(msg)

IU 님, 새해복 많이 받으세요
이소라 님, 새해복 많이 받으세요
씨엘 님, 새해복 많이 받으세요
먼데이키즈 님, 새해복 많이 받으세요
김광석 님, 새해복 많이 받으세요

In [13]:
# quiz:구구단
for i in range(1, 10):
    print(f"2 x {i} = {i*2}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [14]:
# quiz2 : 구구단
for a in range(2,10):
    for b in range(1,10):
        print(f"{a} x {b} = {a*b}")
    print("-"*70)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
----------------------------------------------------------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
----------------------------------------------------------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
----------------------------------------------------------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
----------------------------------------------------------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
----------------------------------------------------------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
----------------------------------------------------------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
----------------------------------------------------------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
----------------------------------------------------------------------

In [15]:
# list에서 범위를 줘서 list만들기
[1,2,3,4,5,6][:5]

[1, 2, 3, 4, 5]

## 데이터 분석

- 종류 : 정형, 비정형

- 출처 : DB - SQL, 웹 - 크롤링/스크래핑, 타사/협력업체 - API

- 목적 : 현황 파악(통계), 예측(모델) - 회귀, 머신러닝, 딥러닝

- 도구 : 파이썬, R, 엑셀

### 전략Strategy

한정된 자원을 가지고 목표를 달성 → 효율적이고 효과적인 사용 : Data Driven

### 데이터 분석가

- 프로그래밍 언어를 이용해 데이터 분석 → 매출, 수익 창출

- 목적/가정 → 데이터 분석 → 실행 제시

- 경험과 지식 필요 : Domain knowledge

- 데이터 분석 기술 필요 : 원하는 방향에 맞게 검증, 구현 능력

- 전달력, 설득력 : 협업 요청, 설득 과정

### 추천 학습방법
- 필요한게 뭔지 알기
- 미니 프로젝트하기 + 프로그래밍

산업군(IT, 금융 등) - 직무(어떤 팀?)